@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #FCFCFC;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
  
img {
  max-width: 100%;
  height: auto;
  display: block;
}
